h1 {
    font-family: "Russo One", "sans-serif";
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

table#grid {
    border-spacing: 5px;
    margin: 0 auto;
}

td.cell {
    height: 65px;
    width: 65px;
    border: 1px solid black;
}


